# Python
__pycache__/
*.py[cod]
.venv/
venv/
.pytest_cache/
.mypy_cache/

# Jupyter
.ipynb_checkpoints/

# LaTeX
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.toc

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Local copyrighted/private source material
sources/private/
sources/*.pdf
